@using WebApplication.Models
@model CategoriasModel

@{
    ViewBag.Title = "Categorias";
}
<h2>@ViewBag.Title.</h2>


@*<ul>
        <li><button type="submit"> Crear </button></li>
        <li><button type="submit"> Eliminar</button></li>
        <li><button type="submit"> Actualizar categoria</button></li>
</ul>*@

<form action="http://localhost:62652/Categorias/Crear">
    <input type="submit" value="Crear" />
</form>

<br>

<form action="http://localhost:62652/Categorias/EliminarCategorias">
    <input type="submit" value="Eliminar" />
</form>

<br>

<form action="http://localhost:62652/Categorias/Actualizar">
    <input type="submit" value="Actualizar" />
</form>



@*Imprimir todas las categorias que tenga*@
